/********************* NON-D3CSS BEGIN***********************/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

input[type="text"]
{
    font-size:24px;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
    font-size: 3em;
}
/**********************NON-D3CSS END*************************/

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
   
    font                : 12px sans-serif;
    font-weight         : bold;
    pointer-events      : none;
 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.state circle {
    stroke  : gray;
    cursor  : pointer;
}

g.state circle.inner {
    fill    : white;
}

g.state circle.outer {
    display         : none;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.state.selected circle.outer {
    display         : inline;
}

g.state text {
    font                : 12px sans-serif;
    font-weight         : bold;
    pointer-events      : none;
}

    /* disable text selection */
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}






/* -------------pulse---------------- */
@-webkit-keyframes pulse
  {      
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1);}
  }

  @-moz-keyframes pulse
  {      
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.1); opacity: 1;}
    30% {-moz-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -moz-transform: scale(1);}
  }
 
  .pulse_holder
  {
    display: block;
    position: absolute;
    top: 100px;
    left: 350px;
  }
   
  .pulse_holder .pulse_marker
  {
    width: 16px;
    height: 16px;
    background: #099;
    border-radius: 28px;
  }
 
  .pulse_holder .pulse_rays
  {
    margin: 0 auto;
    border-radius: 100px;
    position: absolute;
    right: -26px;
    top: -26px;
    z-index: 10;
    background-color: transparent;
    opacity: 0.1;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(0, 128, 64, 1);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    /* Giving Animation Function */
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    border-image: initial;
  }
/* ----------------------------- */